<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>You have counted</h1>
        <h1><%= count %></h1>
        <form action="/reset" method="post">
            <input type="submit" >
        </form>
    </body>
</html>
