*{
    margin:0;
    padding:0;
}

div{
    margin: 20px;
}

#square{
    width: 100px;
    height:100px;
    background-color: black;
}

#circle{
    width: 100px;
    height:100px;
    background-color: black;
    border-radius: 100px;
}

#triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-bottom: 100px solid black;

}

#pacman{
    width: 0;
    height: 0;

    border-right: 50px solid transparent;

    border-bottom: 50px solid black;
    border-top: 50px solid black;
    border-left: 50px solid black;
    border-radius: 100px;
}
