<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/result" method="post">
            <p>Name</p>
            <input type="text" name="name">
            <p>Dojo Location</p>
            <select name='dojo'>
                <option>New York</option>
                <option>Philadelphia</option>
                <option>Seattle</option>
                <option>The Moon</option>
            </select>
            <p>Favorite Language</p>
            <select name='language'>
                <option>JavaScript</option>
                <option>C#</option>
                <option>Python</option>
                <option>HTML</option>
            </select>
            <p>Comment</p>
            <textarea name='comment'></textarea>
            <br />
            <input type="submit" >
        </form>
    </body>
</html>
