<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'books/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        <div id='header'>
            {% if logged_in %}
            <span><a href='/book'>Books</a></span>
            <span><a href='/book/users/home'>Home</a></span>
            <span><a href='/book/add'>Add Book / Review</a></span>
            <span><a href='/book/logout'>Log Out</a></span>
            {% else %}
            <span><a href='/'>Log In</a></span>
            <span><a href='/'>Register</a></span>
            {% endif %}
        </div>
        <div id="book_info">
            <h3>{{ book.title }}</h3>
            Author: {{ book.author }} <br />
            Book ID: {{ book.id }} <br />
        </div>
        <div id='book_review'>
            <h2>Reviews</h2>
            {% for review in book.reviews.all %}
                <div class='single_reviews'>
                    <p class='rating'>Rating {{ review.rating }}/5</p>
                    <p class='name'><a href='/book/users/{{review.reviewer.id}}'>{{ review.reviewer.first_name }}</a> says:</p>
                    <p class='content'>{{ review.content }}</p>
                    <p class='date'>Posted: {{ review.created_at }}</p>
                </div>
            {% endfor %}
        </div>
        {% if logged_in %}
            <div id='add_review'>
                <h3>Add a Review!</h3>
                {% if messages %}
                    <div id="error">
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                <form action='/book/add/review/{{ book.id }}' method='POST'>
                    {% csrf_token %}
                    <input type='text' name='content' />
                    <select name='rating'>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type='submit' value='Add Review' />
                </form>
            </div>
        {% endif %}
	</body>
</html>
