<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title>Users</title>
         {% load static %}
         <link rel="stylesheet" href="{% static 'rest/style.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        <h1>Users</h1>
        <table id="users">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td class="id_number">{{ user.id }}</td>
                        <td class="name">{{ user.first_name }} {{ user.last_name }}</td>
                        <td class="email">{{ user.email }}</td>
                        <td class="date">{{ user.created_at }}</td>
                        <td class="date">{{ user.updated_at }}</td>
                        <td class="action"><a href="/rest/users/{{ user.id }}">Show</a>  <a href="/rest/users/{{ user.id }}/edit">Edit</a>  <a href="/rest/users/{{ user.id }}/destroy">Delete</a> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <a href="users/new">Add New User</a>
	</body>
</html>
