<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Name</h2>
        <p><%= results.name %></p>
        <h2>Dojo Location</h2>
        <p><%= results.dojo %></p>
        <h2>Favorite Language</h2>
        <p><%= results.language %></p>
        <h2>Comment</h2>
        <p><%= results.comment %></p>
        <p><a href='/'>Go Back</a></p>
    </body>
</html>
