@font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.otf');
  src: local('../fonts/HelveticaNeueLTStd-BdCn.otf');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('../fonts/HelveticaNeueLTStd-Lt.otf');
  src: local('../fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.otf');
  src: local('../fonts/HelveticaNeueLTStd-Bd.otf');
}

*{
    margin:0;
    padding:0;
}
html, body{
    height: auto;
}

body{
    background-color: #e6e7e8;
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 14px;
    color: #565656;
    text-decoration: none;
}

form input[type='text'], form input[type='password'], form input[type='checkbox']{
    display: inline-block;
    margin-bottom: 10px;
    height: 20px;
    width:60%;
}

form span{
    display:inline-block;
    width:30%;
    vertical-align: baseline;
}

form div{
    margin-right: 10px;
    display: inline-block;
    vertical-align:top;
}

textarea{
    resize: none;
    height: 60px;
    width: 100%;
    padding:10px;
}

#bg{
    width: 800px;
    height: 100%;
    overflow: visible;
    padding-bottom: 25px;
    margin:0 auto;
    background-color: white;
    padding-top: 20px;
}

#content{
    height: 100%;
    width:85%;
    margin:0 auto;
    overflow: visible;
}

#header #header_content #logo a{
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding-top: 10px
}

#header #header_content span a{
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 16px;
    color: white;
    text-decoration: none;
}

#nav{
    display: inline-block;
    width: 70%;
    text-align: right;
    padding-left: 20px
}

#header{
    display: block;
    height:75px;
    background: #fcb116;
    background: -webkit-linear-gradient(#fcb116, #f37029);
    background: -o-linear-gradient(#fcb116, #f37029);
    background: -moz-linear-gradient(#fcb116, #f37029);
    background: linear-gradient(#fcb116, #f37029);
    padding-top:5px;
}

#header_content{
    width: 800px;
    margin: 0 auto;
}

.half{
    display: inline-block;
    width: 45%;
    margin: 10px 3% 0 0;
    vertical-align: top;
}

h1{
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 35px;
    color: #565656;
    text-decoration: none;
    margin-bottom: 10px;
}

h2{
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 30px;
    color: #565656;
    text-decoration: none;
    margin-bottom: 7px;
}

h3{
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 20px;
    color: #565656;
    text-decoration: none;
    margin: 10px 0;
}

.profile_info{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 14px;
    color: #565656;
    text-decoration: none;
}

.profile_info span{
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 14px;
    color: #f8971d;
    text-decoration: none;
}

.main_message h4 a{
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 13px;
    color: #f8971d;
    text-decoration: underline;
    margin:20px 0 5px 0;
}

.main_message .message_date{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 10px;
    color: #565656;
    margin-bottom: 10px;
}

.main_message .message_content{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 24px;
    color: #565656;
}

.comment h4 a{
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 13px;
    color: #f8971d;
    text-decoration: underline;
    margin:20px 0 5px 0;
}

.comment .comment_date{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 10px;
    color: #565656;
}

.comment .comment_info{
    display: inline-block;
    vertical-align: middle;
}

.comment .comment_content{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 19px;
    color: #565656;
    margin-left: 20px;
    display:inline-block;
}

#message_header{
    margin-left: 10%;
    margin-top: 10px;
}

.message{
    width:80%;
    margin: 10px auto;
    padding:10px 0 0 0;
    display:block;
    background-color: white;
    border:1px solid #c7c7c7;
}

.main_message{
    width:95%;
    padding: 20px 0;
    padding-left: 5%;
    background-color: white;
}

.comment_holder{
    width:100%;
    background-color: #fff6e7;
}

.comment{
    width:85%;
    border-bottom:1px solid #c7c7c7;
    padding:20px 0;
    margin:0 auto;
}

.comment_form{
    width:100%;
    background-color: #ffeacc;
    padding:15px 0;
}

.comment_form form{
    width:85%;
    margin:0 auto;
}

.comment_form textarea{
    width:80%;
    height:50px;
    display: inline-block;
    margin:10px auto 0 auto;
    vertical-align: bottom;
}

#top{
    width:85%;
    margin:0 auto 20px auto;
    padding:15px 0 20px 0;
    border-bottom:1px solid #c7c7c7;
}

#user_info{
    width:40%;
    display: inline-block;
    padding:30px 0 20px 0;
    margin-bottom:20px;
    margin-right: 10%;
    vertical-align: top;
    border-right:1px solid #c7c7c7;
}
#user_info p{
    width:90%;
}

#user_info p, #user_info h2{
    margin-bottom: 5px;
}

#post_message{
    display: inline-block;
    width:49%;
    padding-top: 20px;
}

#post_message h3{
    margin-bottom:10px;
}

#post_message textarea{
    width:300px;
    height:50px;
    display: block;
    margin-bottom:10px;
}

input[type=submit]{
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 13px;
    display: block;
    background-color:#484848;
    padding: 10px 10px 5px 10px;
    color:white;
    margin-top: 5px;
}

#dashboard{
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 13px;
    width:100%;
    border-spacing: 0;
    margin:20px auto;
}

table tr td a{
    font-family: 'HelveticaNeueLTStd-Lt';
    color: #515151;
    text-decoration: underline;
    cursor: pointer;
}

#bottom{
    width:100%;
    margin:15px auto 20px auto;
    padding-bottom: 20px;
}

#top h2{
    margin-bottom:10px;
}

tr td{
    padding: 10px;
    border: 1px solid #d1d2d1;
    margin:0;
}

table tbody tr:nth-child(odd) {
    background-color: #e6e7e8;
}

th {
    background-color: #af5d27;
    color:white;
    padding: 10px;
    margin:0;
}

.hidden{
    border:none;
}

#header span{
    padding: 15px;
    display: inline-block;
}

#home_content p{
    padding:20px;
}

.error{
    color:red;
    padding:20px;
}

#edit_info, #edit_desc, #change_password{
    margin: 20px 9% 20px 0;
    padding-top: 10px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

#edit_info h3, #edit_desc h3, #change_password h3{
    margin-bottom: 15px;
    border-bottom: 1px solid #77859e;
}

.bottom_link{
    margin-top: 20px
}
