<html>
    <head>
        <title>Guess the number</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <h4>I am thinking of a number between 1 and 100</h4>
        <h4>Take a guess</h4>
        <h2>{{clue}}</h2>
        {% if guess %}
        <form action='/reset' method='post'>
            <input type="submit" name="play_again" value="Play Again!"/>
        </form>
        {% else %}
        <form action='/action' method='post'>
            Your guess: <input type="text" name='guess' />
            <input type="submit" name="submit_form" value="Take a guess"/>
        </form>
        {% endif %}
    </body>
</html>
