<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Colors!</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1>Header</h1>
			<h2>Subtitle</h2>
		</div>
		<div id="nav">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Contact Us</li>
				<li>Videos</li>
				<li>Pricing</li>
				<li>Something</li>
				<li>Soooommmmething</li>
				<li>Soooommmmething</li>
			</ul>
		</div>
		<div id="content">
			<div class="column fourth-l third-m">
				<h4>1st column</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia vulputate nisl, quis ornare sapien commodo vitae. Sed pharetra, augue at gravida molestie, quam est vestibulum nunc, quis viverra arcu sem sit amet risus. Donec mattis condimentum placerat. Duis egestas enim vel dolor congue, sodales tempor mi faucibus. Nullam malesuada tortor lorem, eu tincidunt augue fringilla a. Quisque vel mollis odio, eget porta eros. Nulla mattis, urna in lacinia venenatis, urna enim ullamcorper diam, id vulputate ipsum diam at eros. Vestibulum placerat dui sed mollis accumsan. In ut rutrum lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fringilla ultricies nisl, finibus lacinia neque posuere vel. Sed nisi mi, dictum viverra porttitor at, egestas eu massa. Maecenas elementum fermentum dolor. In non tempus ante. Donec sed elit viverra lacus mollis bibendum quis eu ex. Sed a dui lectus.</p>
			</div>
			<div class="column fourth-l third-m">
				<h4>2nd column</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia vulputate nisl, quis ornare sapien commodo vitae. Sed pharetra, augue at gravida molestie, quam est vestibulum nunc, quis viverra arcu sem sit amet risus. Donec mattis condimentum placerat. Duis egestas enim vel dolor congue, sodales tempor mi faucibus. Nullam malesuada tortor lorem, eu tincidunt augue fringilla a. Quisque vel mollis odio, eget porta eros. Nulla mattis, urna in lacinia venenatis, urna enim ullamcorper diam, id vulputate ipsum diam at eros. Vestibulum placerat dui sed mollis accumsan. In ut rutrum lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fringilla ultricies nisl, finibus lacinia neque posuere vel. Sed nisi mi, dictum viverra porttitor at, egestas eu massa. Maecenas elementum fermentum dolor. In non tempus ante. Donec sed elit viverra lacus mollis bibendum quis eu ex. Sed a dui lectus.</p>
			</div>
			<div class="column fourth-l third-m">
				<h4>3rd column</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia vulputate nisl, quis ornare sapien commodo vitae. Sed pharetra, augue at gravida molestie, quam est vestibulum nunc, quis viverra arcu sem sit amet risus. Donec mattis condimentum placerat. Duis egestas enim vel dolor congue, sodales tempor mi faucibus. Nullam malesuada tortor lorem, eu tincidunt augue fringilla a. Quisque vel mollis odio, eget porta eros. Nulla mattis, urna in lacinia venenatis, urna enim ullamcorper diam, id vulputate ipsum diam at eros. Vestibulum placerat dui sed mollis accumsan. In ut rutrum lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fringilla ultricies nisl, finibus lacinia neque posuere vel. Sed nisi mi, dictum viverra porttitor at, egestas eu massa. Maecenas elementum fermentum dolor. In non tempus ante. Donec sed elit viverra lacus mollis bibendum quis eu ex. Sed a dui lectus.</p>
			</div>
			<div class="column fourth-l whole-m">
				<h4>4th column</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia vulputate nisl, quis ornare sapien commodo vitae. Sed pharetra, augue at gravida molestie, quam est vestibulum nunc, quis viverra arcu sem sit amet risus. Donec mattis condimentum placerat. Duis egestas enim vel dolor congue, sodales tempor mi faucibus. Nullam malesuada tortor lorem, eu tincidunt augue fringilla a. Quisque vel mollis odio, eget porta eros. Nulla mattis, urna in lacinia venenatis, urna enim ullamcorper diam, id vulputate ipsum diam at eros. Vestibulum placerat dui sed mollis accumsan. In ut rutrum lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fringilla ultricies nisl, finibus lacinia neque posuere vel. Sed nisi mi, dictum viverra porttitor at, egestas eu massa. Maecenas elementum fermentum dolor. In non tempus ante. Donec sed elit viverra lacus mollis bibendum quis eu ex. Sed a dui lectus.</p>
			</div>
		</div>
	</div>
</body>
</html>
