<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'users/js/main.js' %}"></script>
	</head>
	<body>
        <div id='header'>
            {% if logged_in %}
            <span><a href='/dashboard'>Dashboard</a></span>
            <span><a href='/users/show'>Home</a></span>
            <span><a href='/users/edit'>Edit Info</a></span>
            <span><a href='/logout'>Log Out</a></span>
            {% else %}
            <span><a href='/login'>Log In</a></span>
            {% endif %}
        </div>
        <table id='dashboard'>
            <tr>
                <th align="left">ID</th>
                <th align="left">Name</th>
                <th align="left">Email</th>
                <th align="left">Created At</th>
                <th align="left">User Level</th>
                {% if logged_in_user.admin %} <th align="left">Action</th> {% endif %}
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href='/users/show/{{user.id}}'>{{ user.first_name }} {{ user.last_name }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>{% if user.admin %} Admin {% else %} Normal {% endif %}</td>
                {% if logged_in_user.admin %}
                    <td> <a class='show'>Remove</a> <a href='/users/edit/{{ user.id }}'>Edit</a>

                        <div class='hidden'>
                            Are you sure you want to delete {{user.first_name}} {{user.last_name}}?
                            <a href='/users/remove/{{ user.id }}'>Yes</a>
                            <a class='hide'>No</a>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% if logged_in_user.admin %}
        <a href='/users/new'>Add New User</a>
        {% endif %}

	</body>
</html>
