<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
        {% include "users/header.html" %}
        <div id='bg'>
            <div id='content'>
                <h2>Dashboard</h2>
                <p>Here you can view the information on other users. If you are an admin you can edit users information, remove them or add new users.</p>
                <table id='dashboard'>
                    <tr>
                        <th align="left">ID</th>
                        <th align="left">Name</th>
                        <th align="left">Email</th>
                        <th align="left">Created At</th>
                        <th align="left">User Level</th>
                        {% if logged_in_user.admin %} <th align="left">Action</th> {% endif %}
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href='/users/show/{{user.id}}'>{{ user.first_name }} {{ user.last_name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{% if user.admin %} Admin {% else %} Normal {% endif %}</td>
                        {% if logged_in_user.admin %}
                            <td>
                                <a class='show{{user.id}}'>Remove</a>
                                <a href='/users/edit/{{ user.id }}' class='action_button'>Edit</a>
                                <div class='hidden{{user.id}}'>
                                    Are you sure you want to delete {{user.first_name}} {{user.last_name}}?
                                    <a href='/users/remove/{{ user.id }}'>Yes</a>
                                    <a class='hide{{user.id}}'>No</a>
                                </div>
                            </td>
                        {% endif %}
                        <script>
                        $('.hidden{{user.id}}').hide();

                        $('.show{{user.id}}').click(function(){

                            $('.hidden{{user.id}}').show();

                        });

                        $('.hide{{user.id}}').click(function(){

                            $('.hidden{{user.id}}').hide();

                        });
                        </script>
                    </tr>
                    {% endfor %}
                </table>
                {% if logged_in_user.admin %}
                    <a href='/users/new'>Add New User</a>
                {% endif %}
            </div>
        </div>
	</body>
</html>
