<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        <div id='header'>
            {% if logged_in %}
            <span><a href='/dashboard'>Dashboard</a></span>
            <span><a href='/users/show'>Home</a></span>
            <span><a href='/users/edit'>Edit Info</a></span>
            <span><a href='/logout'>Log Out</a></span>
            {% else %}
            <span><a href='/login'>Log In</a></span>
            <span><a href='/register'>Register</a></span>
            {% endif %}
        </div>
        {% if messages %}
            <div id="error">
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        <div id='edit_info'>
            <h3>Change Info</h3>
            <form action='/users/edit_action/{{ user.id }}' method='POST'>
                {% csrf_token %}
                <span>First Name:</span>
                <input type='text' name='first_name' value='{{user.first_name}}'/>
                <span>Last Name:</span>
                <input type='text' name='last_name' value='{{user.last_name}}'/>
                <span>Email:</span>
                <input type='text' name='email' value='{{user.email}}'/>
                <input type='submit' value='Save Changes' />
            </form>
        </div>
        <div id='edit_desc'>
            <h3>Change Description</h3>
            <form action='/users/desc/{{ user.id }}' method='POST'>
                {% csrf_token %}
                <span>Description:</span>
                <textarea name='desc'>{{ user.desc }}</textarea>
                <input type='submit' value='Save Description' />
            </form>
        </div>
        {% if not admin %}
            <div id='change_password'>
                <h3>Change Password</h3>
                <form action='/users/change_password/{{ user.id }}' method='POST'>
                    {% csrf_token %}
                    <span>Password:</span>
                    <input type='password' name='password' />
                    <span>Confirm Password:</span>
                    <input type='password' name='confirm' />
                    <input type='submit' value='Change Password' />
                </form>
            </div>
        {% endif %}

	</body>
</html>
