<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        {% include "users/header.html" %}
        <div id='bg'>
            <div id='content'>
                <h1>Welcome to Not-Book!</h1>
                <p>Welcome to Not-Book! A bare-bones messaging website coded and designed from scratch by Nicholas Chicirda. This site uses Django and MySQL. To see the rest of Nick’s work and information go to <a href='http://www.nickchic.com'>nickchic.com</a>.</p>
                <div class='half'>
                    <h3>Register</h3>
                    {% include "users/reg_form.html" %}
                </div>
                <div class='half'>
                    <h3>Log In</h3>
                    {% include "users/login_form.html" %}
                </div>
            </div>
        </div>
	</body>
</html>
