<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        {% include "users/header.html" %}
        <div id='bg'>
            <div id='content'>
                <h2>Log In</h2>
                {% include "users/errors.html" %}
                {% include "users/login_form.html" %}
                <p class='bottom_link'><a href='/register'>First time? Register</a></p>
            </div>
        </div>
	</body>
</html>
