<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        <div id='header'>
            {% if logged_in %}
            <span><a href='/dashboard'>Dashboard</a></span>
            <span><a href='/users/show'>Home</a></span>
            <span><a href='/users/edit'>Edit Info</a></span>
            <span><a href='/logout'>Log Out</a></span>
            {% else %}
            <span><a href='/login'>Log In</a></span>
            <span><a href='/register'>Register</a></span>
            {% endif %}
        </div>
        <div id='reg'>
            <form action='/users/new_action' method='POST'>
                {% csrf_token %}
                <span>First Name:</span>
                <input type='text' name='first_name' />
                <span>Last Name:</span>
                <input type='text' name='last_name' />
                <span>Email:</span>
                <input type='text' name='email' />
                <span>Admin</span>
                <input type="checkbox" name="admin" value="admin">
                <span>Password:</span>
                <input type='password' name='password' />
                <span>Confirm Password:</span>
                <input type='password' name='confirm' />
                <input type='submit' value='Add User' />
            </form>
        </div>
	</body>
</html>
