<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        {% include "users/header.html" %}
        <div id='bg'>
            <div id='content'>
                <div id="user_info">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <p class='profile_info'><span>Joined:</span> {{ user.created_at }}</p>
                    <p class='profile_info'><span>Email:</span> {{ user.email }}</p>
                    <p class='profile_info'><span>Bio:</span> {{ user.desc }}</p>
                </div>
                <div id='post_message'>
                    {% if logged_in %}
                        <h3>Leave a message for {{ user.first_name }}</h3>
                        <form action='/post_message/{{ user.id }}' method='POST'>
                            {% csrf_token %}
                            <textarea name='message'></textarea>
                            <input type='submit' value='Post' />
                        </form>
                        {% else %}
                        <a href='/login'>Log In</a> to message {{ user.first_name }}
                    {% endif %}
                </div>
                <h3 id='message_header'>Messages For {{ user.first_name }}</h3>
                {% for message in wall_messages %}
                    <div class='message'>
                        <div class='main_message'>
                            <h4><a href='/users/show/{{ message.author.id }}'>{{ message.author.first_name }} {{ message.author.last_name }}</a></h4>
                            <p class='message_date'>{{ message.created_at }}</p>
                            <p class='message_content'> {{ message.text }}</p>
                        </div>
                        {% if message.comments.all %}
                            <div class='comment_holder'>
                                {% for comment in message.comments.all %}
                                    <div class='comment'>
                                        <div class='comment_info'>
                                            <h4><a href='users/show/{{ comment.author.id }}'>{{ comment.author.first_name }} {{ comment.author.last_name }}</a></h4>
                                            <p class='comment_date'> {{ comment.created_at }}</p>
                                        </div>
                                        <p class='comment_content'> {{ comment.text }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if logged_in %}
                        <div class='comment_form'>
                            <form action='/post_comment/{{ user.id }}/{{ message.id }}' method='POST'>
                                {% csrf_token %}
                                <textarea name='comment'></textarea>
                                <input type='submit' value='Comment' />
                            </form>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
	</body>
</html>
