<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title>Register</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
	</head>
	<body>
        <h2>Register</h2>
        {% if messages %}
            <div id="error">
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        <form action='/reg' method='POST'>
            {% csrf_token %}
            First name: <input type="text" name="first_name" /> <br />
            Last name: <input type="text" name="last_name" /> <br />
            Email: <input type="text" name="email" /> <br />
            Password: <input type="password" name="password" /> <br />
            Confirm: <input type="password" name="confirm" /> <br />
            <input type="submit" value="Register" />
        </form>
	</body>
</html>
